@model EhpadVaccin.ORM.Injection

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Injection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="personne" class="control-label">La personne : </label>
                <select asp-for="personne">
                    <option value="">@Html.DisplayFor(model => model.personne)</option>
                </select>
                <span asp-validation-for="personne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typeVaccin" class="control-label">Le type de vaccin : </label>
                <select asp-for="typeVaccin">
                    <option value="">@Html.DisplayFor(model => model.typeVaccin)</option>
                </select>
                <span asp-validation-for="typeVaccin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marque" class="control-label">La marque du vaccin : </label>
                <input asp-for="marque" class="form-control" />
                <span asp-validation-for="marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numLot" class="control-label">Numero du lot du vaccin injecte : </label>
                <input asp-for="numLot" class="form-control" />
                <span asp-validation-for="numLot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateInjection" class="control-label">Date de l'injection du vaccin :</label>
                <input asp-for="dateInjection" class="form-control" />
                <span asp-validation-for="dateInjection" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
