@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Sur notre version du projet Ehpad Vaccin.</a></p>
    <p>Alexis Delabarre et Louis Bernardeau</p>
</div>
